*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: aqua;
    background-color: black;
    font-size: 20px;
    margin: 30px 25px;
    text-align: center;
}
p{
    color: brown;
    background-color: blue;
    text-align: center;
}